<c-row>
    <c-col sm="0" md="3" lg="4">
    </c-col>
    <c-col sm="12" md="6" lg="4">
      <c-card class="mt-1">
        <c-row>
            <c-col xs="4">
            </c-col>
            <c-col xs="4" class="d-flex justify-content-center">
                <c-avatar src="assets/favicon.ico" size="xl"></c-avatar>
            </c-col>
            <c-col xs="4">
            </c-col>
        </c-row>      
        
        <c-card-header ngPreserveWhitespaces>
          <strong>Activación de Cuenta</strong>
        </c-card-header>
        <c-card-body>
            <c-row>
                <c-col xs="4">
                </c-col>
                <c-col xs="4" class="d-flex justify-content-center">
                    <c-spinner></c-spinner>
                </c-col>
                <c-col xs="4">
                </c-col>
            </c-row>
            <c-row>
                <c-col xs="1">
                </c-col>
                <c-col xs="10" class="d-flex justify-content-center">
                    <p class="text-center">Estamos activando su cuenta,<br>espere un momento por favor ...</p>                    
                </c-col>
                <c-col xs="1">
                </c-col>
            </c-row>           
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="0" md="3" lg="4">
    </c-col>
</c-row>
