<c-row>
    <c-col sm="0" md="3" lg="4">
    </c-col>
    <c-col sm="12" md="6" lg="4">
      <c-card class="mt-1">
        <c-row>
            <c-col xs="4">
            </c-col>
            <c-col xs="4" class="d-flex justify-content-center">
                <c-avatar src="assets/favicon.ico" size="xl"></c-avatar>
            </c-col>
            <c-col xs="4">
            </c-col>
        </c-row>        
        <c-card-header ngPreserveWhitespaces>
          <strong>Cambiar Contraseña</strong>
        </c-card-header>
        <c-card-body>
            <form #customStylesForm="ngForm" [validated]="false" cForm>
                <c-row>                    
                    <label cLabel for="name">Contraseña</label>
                    <input cFormControl id="name" name="name" type="password" />
                    <c-form-feedback [valid]="false">Looks good!</c-form-feedback>
                    
                </c-row>
                <c-row  class="mb-1">                    
                    <label cLabel for="description">Repetir Contraseña</label>
                    <input cFormControl id="description" name="description"type="password"  />
                    <c-form-feedback [valid]="false">Looks good!</c-form-feedback>                        
                </c-row>                    
                <c-row>                    
                    <c-col xs="8">

                    </c-col>
                    <c-col xs="4" class="justify-content-md-end p-0 m-0">
                        <div class="d-grid gap-0 d-md-flex justify-content-md-end p-0 m-0">
                            <button cButton color="primary" class="me-md-2 m-0">Cambiar</button>                            
                          </div>                        
                    </c-col>
                </c-row>           
            </form>           
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="0" md="3" lg="4">
    </c-col>
</c-row>
